<!-- component -->
<div class="h-screen bg-white">
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 md:grid-cols-2 lg:gap-8">
    <div class="post p-5 lg:p-1 rounded-md">
      <div class="lg:fixed lg:top-7 lg:left-14 lg:w-3/12 md:top-7 md:w-5/12">
        <app-card-profile></app-card-profile>
        <app-card-form [update]="loadData"></app-card-form>
      </div>
    </div>
    <div
      class="lg:col-span-2 p-4 bg-white mt-3"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="5"
      (scrolled)="onScroll()"
    >
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <app-card-post *ngFor="let post of items" [post]="post"></app-card-post>
      </div>
    </div>
    <div *ngIf="isLoading">Loading...</div>
  </div>
</div>
